# Eclipse
.classpath
.project
.settings/

# Intellij
!.idea/runConfigurations/*.xml
.idea/*.xml
.idea/libraries
.idea/.gitignore
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#sam builds
.aws-sam/